.lable{
  display: inline-block;
  width: 200px;
}

.inputbox{
  font-size: 18px;
  width: 250px;
}

.space{
  margin-bottom: 10px;
  font-size: 18px;
}

.button{
  width: 100px;
  height: 35px;
  font-size: 16px;
}

.img{
  width: 300px;
}

.eye-icon{
  width: 30px;
  cursor: pointer;
}

.wrapper{
  height: 98vh;
}

.header{
  height: 10%;
  border: 3px solid red;
}

.container{
  height: 90%;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
}

.sidebar{
  width: 20%;
  border: 3px solid red;
}

.content{
  width: 80%;
    border: 3px solid red;
}