h1{
  color : rgb(0, 37, 248);
  text-align: left;
  /* text-decoration-line: underline;
  text-decoration-color: rgb(255, 0, 0);
  text-decoration-style: solid;
  text-decoration-thickness: 2px; */
  text-decoration: underline red solid 2px;
  text-transform: capitalize;
}

p{
  text-indent: 100px;
  letter-spacing: 5px;
  line-height: 2.5;
  word-spacing: 15px;
  font-size: 24px;
}

h2{
  color : red;
  text-shadow: 3px 3px 5px gray;
  /* text-shadow : horizontal shadow(number px), vertical shadow(number px), blur effect(number px) shadow color(color code) */
}

div{
  height: 300px;
  background-color: blue;
  width: 500px;
}